@charset "UTF-8";
.clock {
	width: 200px;
	height: 50px;
	text-align: center;
	color: #f4f4f4;
	background-color: #000;
}
#clock {
	color: #f0c420;
	font-size: 20px;
}
#date {
	color: mediumseagreen;
	font-size: 0.5em;
}